[user]
   name = Steve Champagne
   email = champagst@gmail.com

[github]
   user = ggeise

[core]
   excludesfile = ~/.gitignore_global
   editor = vim

[alias]
   aa = add --all
   st = status
   ci = commit
   br = branch
   co = checkout
   unstage = reset --hard HEAD
[http]
	proxy = $HTTP_PROXY
[https]
	proxy = $HTTPS_PROXY
